Source: optiextractor
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7), 
               autotools-dev, 
               cdbs, 
               pkg-config,
               liboptimization2-dev (>= 2.3),
               libgtkmm-2.4-dev (>= 2.12),
			   libmatio-dev,
               libtool
Standards-Version: 3.8.0
Section: apps
Homepage: http://birg.epfl.ch

Package: optiextractor
Section: apps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liboptimization2 (>= 2.3), libgtkmm-2.4-1c2a (>= 2.12), libmatio0
Description: Optimization solution extractor
 Solution extractor for optimization results
